html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

.navigation-wrapper {
	width: 100%;
	height: 120px;
	background-color: tomato;
}

.navigation-wrapper > ul {

}

.navigation-wrapper > ul > li {
	list-style-type: none;
	
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 15px;
}

.navigation-wrapper > ul > li > a:visited, .navigation-wrapper > ul > li > a:active {
	color: white;
}
