<div class="navigation-container row fullWidth">
  
  <div class="row first-row">

      <div class="large-1 medium-1 small-1 columns"></div>

	  <div class="logo-container large-3 medium-5 small-6 columns"><a href="/"><img class="logo" data-interchange="[../../assets/img/recipelogolarge.png, (default)], [../../assets/img/recipelogo.png, (medium)]"></a></div>

	  <div class="logo-container large-5 medium-2 small-1 columns"></div>

	  <div class="login-btn-container large-2 medium-2 show-for-medium-up right columns"><a href="/login" class="login-btn hvr-grow">LOG IN</a></div>

	  <div class="login-btn-container show-for-small-only small-2 columns"><a href="/login" class="login-btn hvr-grow">LOG IN</a></div>

	  <div class="large-1 medium-1 small-1 columns clearfix"></div>

  </div>

  <div class="top-text-container row">

	<div class="large-12 show-for-large-up headline-text-large text-center columns"><p>Let Family Recipes Live On
Through Generations</p></div>

	<div class="medium-12 headline-text-medium text-center columns show-for-medium-only"><p>Let Family Recipes Live On
Through Generations</p></div>

	<div class="medium-12 headline-text-small text-center columns show-for-small-only"><p>Let Family Recipes Live On
Through Generations</p></div>

  </div>



  <div class="top-text-button-container row">

	<div class="large-3 columns"></div>
	<div class="large-6 text-center columns"><a href="/recipes" class="top-text-button hvr-fade">Get Started</a></div>
	<div class="large-3 columns"></div>

  </div>

</div>

<div class="under-image-container row fullWidth">

	<div class="large-12 text-center columns"><h2>Keep our family recipes alive</h2></div>

	<div class="large-12 text-center columns"><p>This easy to use online application, will allow the recipes<span>
that our family has curated, to take on a new life.</span></p></div>

</div>


<div class="how-does-it-work-container row fullWidth">

	<div class="large-12 text-center columns">How does it work?</div>

	<div class="large-2 columns"></div>

	<div class="large-2 text-center columns">

		<div class="large-12 columns">

			<img src="/assets/img/collect_icon.png">

		</div>

		<div class="large-12 columns">

			<h3>Collect</h3>

		</div>

		<div class="large-12 columns">

			<p>Gather up all the
recipes that you 
can find.</p>

		</div>

	</div>


	<div class="large-2 text-center columns">

		<div class="large-12 columns">

			<img src="/assets/img/upload_icon.png">

		</div>

		<div class="large-12 columns">

			<h3>Upload</h3>

		</div>

		<div class="large-12 columns">

			<p>Our simple process
will allow you to store
the recipes in the 
cloud</p>

		</div>

	</div>


	<div class="large-2 text-center columns">

		<div class="large-12 columns">

			<img src="/assets/img/share_icon.png">

		</div>

		<div class="large-12 columns">

			<h3>Share</h3>

		</div>

		<div class="large-12 columns">

			<p>Once the recipe is posted
you can share it on all
social media channels.</p>

		</div>

	</div>


	<div class="large-2 text-center columns">

		<div class="large-12 columns">

			<img src="/assets/img/eat_icon.png">

		</div>

		<div class="large-12 columns">

			<h3>Eat</h3>

		</div>

		<div class="large-12 columns">

			<p>The easiest step. Browse
around and look for recipes
that sound good.</p>

		</div>

	</div>

	<div class="large-2 columns"></div>

</div>

<div class="any-device-container row fullWidth">

	<div class="large-2 columns"></div>

	<div class="large-8 columns">
		
		<div class="large-3 left columns">

			<img class="left android-icon" src="/assets/img/android.png">

			<img class="apple-icon left" src="/assets/img/apple.png">

		</div>

		<div class="large-9 columns">
			
			<div class="large-12 columns"><h3>Coming Soon</h3></div>

			<div style="color: black;"class="large-12 columns"><p>I am currently working on the mobile app version. The app will
work for both Android and Apple smartphones, as well as 
tablets. Check back soon for further announcements.</p>
			</div>

		</div>


	</div>

	<div class="large-2 columns"></div>

</div>

<div class="site-message-container row fullWidth">

	<div class="large-2 columns"></div>
	<div class="large-8 columns"><h3>** This application is proudly built with AngularJS and Firebase, to view the site source code check us out on <a href="https://github.com/jordanthomp81/thompsonrecipes">github.com</a></h3></div>
	<div class="large-2 columns"></div>

</div>

<div class="footer-container row fullWidth">

	<div class="large-1 columns"></div>

	<div class="large-6 columns">
		
		<div class="large-1 columns"></div>

		<div class="large-2 columns">
			
			<a href="/"><img class="show-for-large-up right" src="/assets/img/footerlogo.png"></a>

			<a href="/"><img class="hide-for-large-up" src="/assets/img/footerlogo.png"></a>

		</div>

		<div class="large-9 columns">
			
			<div class="large-12 left columns">

				<h3 class="left">Categories</h3>

				<h3 class="left">Iphone App</h3>

				<h3 class="left">Android App</h3>

			</div>

			<div class="large-12 columns"><h3>Copyright 2015 Cyanide Designs. All rights reserved.</h3></div>

		</div>

	</div>

	<div class="large-5 columns"></div>

</div>