<div class="app-navigation-container row fullWidth">

	<div class="large-1 columns"></div>

	<div class="large-5 columns">

		<div class="large-2 columns hide-for-small"><a href="/home"><img class="iconic_logo" src="../../assets/img/iconic_logo.png"></a></div>

		<div class="small-12 text-center columns show-for-small-only"><a href="/recipes"><img src="../../assets/img/iconic_logo.png"></a></div>

		<div class="search-bar-container large-7 columns end hide-for-small-only">
			
			<input class="search-bar" type="text" placeholder="Search dishes, desserts, etc" />

		</div>

		<div class="large-3 columns"></div>

	</div>

	<div class="large-2 columns"></div>

	<div class="large-3 columns">

		<div class="right log-out-btn large-3 columns end"><h4>LOG OUT</h4></div>

		<div class="right add-new-btn large-3 show-for-large-up columns end"><h4><a href="/add_recipe">ADD NEW</a></h4></div>

		<div class="right log-out-btn small-12 show-for-small-only columns end"><h4><a href="/add_recipe">ADD NEW</a></h4></div>

	</div>

	<div class="large-1 columns"></div>

</div>

<div class="row fullWidth">
	
	<div class="under-navigation-images large-3 columns show-for-large-up">
		
		<h4>MAIN DISHES</h4>

	</div>

	<div class="under-navigation-images large-3 columns show-for-large-up">
		
		<h4>SIDE DISHES</h4>

	</div>

	<div class="under-navigation-images large-3 columns show-for-large-up">
		
		<h4>SOUPS & STEWS</h4>

	</div>

	<div class="under-navigation-images large-3 columns show-for-large-up">
		
		<h4>DESSERTS</h4>

	</div>

</div>

<div class="add-recipe-form-container row fullWidth">

	<div class="large-3 columns"></div>

	<div class="large-6 columns">
		
		<h4 class="add-recipe-form-heading">Add New Recipe</h4>

			<input type='file' onchange="angular.element(this).scope().readURL(this); angular.element(this).scope().upload(this.files[0]);"/>

			<img id="image-preview" src="#" alt="recipe_image_preview" onerror="this.src='../../assets/img/image_preview.png'" />

			<input ng-model="recipeName" class="add-recipe-input-name" type="text" placeholder="Recipe Name"/>

			<input ng-model="cookTime" class="add-recipe-input-estimated-time" type="text" placeholder="Estimated Cook Time in Hours"/>

			<textarea  ng-model="instructions" class="add-recipe-input-instructions" placeholder="Recipe Instructions"></textarea>

			<a href="#" ng-click="capture()" class="button success">Submit</a>

	</div>

	<div class="large-3 columns"></div>

</div>

