{{recipe.test}}

<div class="app-navigation-container row fullWidth">

	<div class="large-1 columns"></div>

	<div class="large-6 columns">

		<div class="large-2 columns"><a href="/recipes"><img class="iconic_logo" src="../../assets/img/iconic_logo.png"></a></div>

		<div class="search-bar-container large-7 columns end hide-for-small-only">
			
			<input class="search-bar" type="text" placeholder="Search dishes, desserts, etc" />

		</div>

		<div class="large-3 columns"></div>

	</div>

	<div class="large-5 columns"></div>

</div>