{{recipe.test}}

<div class="app-navigation-container row fullWidth">

	<div class="large-1 columns"></div>

	<div class="large-5 columns">

		<div class="large-2 columns"><a href="/recipes"><img class="iconic_logo" src="../../assets/img/iconic_logo.png"></a></div>

		<div class="search-bar-container large-7 columns end hide-for-small-only">
			
			<input class="search-bar" type="text" placeholder="Search dishes, desserts, etc" />

		</div>

		<div class="large-3 columns"></div>

	</div>

	<div class="large-2 columns"></div>

	<div class="large-3 columns">

		<div ng-click="" class="right log-out-btn large-3 columns end"><h4>LOG OUT</h4></div>

		<div ng-click="" class="right add-new-btn large-3 columns end"><h4>ADD NEW</h4></div>

	</div>

	<div class="large-1 columns"></div>

</div>

<div class="row fullWidth">
	
	<div class="under-navigation-images large-3 columns show-for-large-up">
		
		<h4>MAIN DISHES</h4>

	</div>

	<div class="under-navigation-images large-3 columns show-for-large-up">
		
		<h4>SALADS</h4>

	</div>

	<div class="under-navigation-images large-3 columns show-for-large-up">
		
		<h4>SOUPS & STEWS</h4>

	</div>

	<div class="under-navigation-images large-3 columns show-for-large-up">
		
		<h4>DESSERTS</h4>

	</div>

</div>

<div class="bottom-content-containter row fullWidth">

	<div class="large-1 columns"></div>

	<div class="large-10 columns">

  		<div class="little-box">


     		<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>

			<div class="recipe-item-container">

				<div class="recipe-item-container-inner">
					
					<div class="recipe-item-image"></div>

					<div class="recipe-item-title-container">
						
						<h4 class="recipe-item-title">Lorem ipsum dolor sit 
	amet consectetur</h4>

					</div>

				</div>


				<div class="recipe-item-timer-container">
					
					<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

					<h4 class="recipe-item-timer-title left">1 hr</h4>

				</div>

			</div>


  		</div>
	
	</div>

	<div class="large-1 columns"></div>

</div>