<a href="/recipe/{{id}}"><div recipe-id="{{id}}" class="recipe-item-container">

	<div class="recipe-item-container-inner">
		
		<img src="{{recipe.recipe_image}}"class="recipe-item-image">

		<div class="recipe-item-title-container">
			
			<h4 class="recipe-item-title">{{recipe.recipe_name}}</h4>

		</div>

	</div>


	<div class="recipe-item-timer-container">
		
		<img src='../../assets/img/timer-icon.png' class="recipe-item-timer-icon left">

		<h4 class="recipe-item-timer-title left">{{recipe.recipe_cook_time}}</h4>

	</div>

</div></a>