@font-face {
    font-family: 'Roboto-Light'; /*a name to be used later*/
    src: url('fonts/Roboto-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Regular'; /*a name to be used later*/
    src: url('fonts/Roboto-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Cabin-Italic'; /*a name to be used later*/
    src: url('fonts/Cabin-Italic.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Cabin-Regular'; /*a name to be used later*/
    src: url('fonts/Cabin-Regular.ttf'); /*URL to font*/
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.columns {
	min-height: 1px;
}

.navigation-container {
  	background-image: url(../img/pie.png);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	height: 90%;
  	white-space: nowrap;
	overflow: hidden;
}

.first-row {
	padding-top: 45px;
}

.login-btn-container.large-2.medium-2.show-for-medium-up.right.columns {
  margin-top: 25px;
}

.logo-container {
	margin-top: 65px;
}

.login-btn-container {
	margin-top: 68px;
}

.login-btn:link {
	font-family: 'Roboto-Light';
	color: #f3f4f4;
	font-size: 15px;
	padding: 14px;
	border: 2px solid #f3f4f4;
	border-radius: 5px;
}

.login-btn:hover {
	font-family: 'Roboto-Light';
	background-color: #45b9e2;
	padding: 16px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
}

.login-btn:visited {
	font-family: 'Roboto-Light';
	color: #f3f4f4;
	font-size: 15px;
	padding: 14px;
	border: 2px solid #f3f4f4;
	border-radius: 5px;
}

.login-btn:active {
	font-family: 'Roboto-Light';
	background-color: #45b9e2;
	padding: 16px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
}

.top-text-container > .headline-text-large {
	padding-top: 210px;
}

.top-text-container > .headline-text-medium {
	padding-top: 150px;
}

.top-text-container > .headline-text-small {
	padding-top: 100px;
}

.top-text-container > .columns {
	height: 160px;
}

.top-text-container > .large-12 {
	height: auto;
}

.top-text-container > .large-12 > p{
	font-family: 'Roboto-Regular';
	font-size: 50px;
	white-space: pre-line;
	letter-spacing: 5px;
	color: white;
}

.top-text-container > .medium-12 {
	height: auto;
}

.top-text-container > .medium-12 > p {
	font-family: 'Roboto-Regular';
	font-size: 50px;
	white-space: pre-line;
	letter-spacing: 5px;
}

.top-text-container > .small-12 {
	height: auto;
}

.top-text-container > .small-12 > p {
	font-family: 'Roboto-Regular';
	font-size: 40px;
	white-space: pre-line;
	padding-left: 10px;
	padding-right: 10px;
	letter-spacing: 5px;
}

.top-text-button-container {
	padding-top: 10px;
}

.top-text-button {
	color: white;
}

.top-text-button:link {
	font-family: 'Roboto-Light';
	background-color: #45b9e2;
	padding: 16px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
}

.top-text-button:hover {
	font-family: 'Roboto-Light';
	color: #f3f4f4;
	font-size: 15px;
	padding: 15px;
	border: 2px solid #f3f4f4;
	border-radius: 5px;
	background-color: transparent;
}

.top-text-button:visited {
	font-family: 'Roboto-Light';
	background-color: #45b9e2;
	padding: 16px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
}

.top-text-button:active {
	font-family: 'Roboto-Light';
	color: #f3f4f4;
	font-size: 15px;
	padding: 14px;
	border: 2px solid #f3f4f4;
	border-radius: 5px;
}

/* Start Styles for Under Image Container */


.under-image-container {
	background-color: white;
	height: auto;
	padding-top: 110px;
	padding-bottom: 107px;
}

.under-image-container > .columns {
	height: auto;
}

.under-image-container > div > h2 {
	color: #323232;
	font-size: 48px;
	font-family: 'Cabin-Regular';
}

.under-image-container > div > p {
	margin-top: 35px; 
	color: #5e5e5e;
	font-size: 30px;
	font-family: 'Cabin-Italic'; 
}

.under-image-container > div > p > span {
	font-family: 'Cabin-Italic'; 
	color: #5e5e5e;
	display: block;
}

/* Start Styles for How It Works Container */

.how-does-it-work-container {
	background-color: #192938;
	height: auto;
	padding-top: 68px;
	padding-bottom: 50px;
}

.how-does-it-work-container > .columns {
	height: auto;
}

.how-does-it-work-container > .large-12 {
	color: #f5f7f8;
	font-size: 35px;
	font-family: 'Cabin-Regular';
	letter-spacing: 3px;
	margin-bottom: 70px;
}

.how-does-it-work-container > .large-2 {
	margin-bottom: 35px;
}

.how-does-it-work-container > .large-2 > .large-12 > h3 {
	margin-top: 25px;
	font-size: 30px;
	font-family: 'Cabin-Regular';
	letter-spacing: 3px;
	color: #FFF;
}

.how-does-it-work-container > .large-2 > .large-12 > p {
	font-size: 20px;
	font-family: 'Cabin-Regular';
	letter-spacing: 2px;
	color: #768390;
}

/* Start Styles for Any Device Container */

.any-device-container {
	background-color: white;
	height: auto;
	padding-top: 130px;
	padding-bottom: 100px;
}

.any-device-container > .columns {
	height: auto;
}

.any-device-container > .large-8 > .large-3  {
	margin-bottom: 20px;
}

.any-device-container > .large-8 > .large-9 > .large-12 > h3 {
	font-size: 40px;
	font-family: 'Cabin-Regular';
	letter-spacing: 2px;
	color: #323232;
	margin-bottom: 10px;
}

.any-device-container > .large-8 > .large-9 > .large-12 > p {
	font-size: 25px;
	font-family: 'Cabin-Italic';
	letter-spacing: 2px;
	color: #5e5e5e;
}

.apple-icon {
	margin-left: 25px;
}

/* Start Styles for Site Message Container */

.site-message-container {
	background-color: #10b1d1;
	height: auto;
	padding-top: 35px;
	padding-bottom: 25px;
}

.site-message-container > .columns {
	height: auto;
}

.site-message-container > .large-8 > h3 {
	font-size: 16px;
	font-family: 'Cabin-Regular';
	letter-spacing: 2px;
	color: #e5e5e4;
}

.site-message-container > .large-8 > h3 > a {
	font-size: 18px;
	font-family: 'Cabin-Regular';
	letter-spacing: 2px;
	color: #FFF;
}

/* Start Styles for Footer Container */

.footer-container {
	background-color: #192938;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-container > .columns {
	height: auto;
}

.footer-container > .large-6 > .large-9 > .large-12 > .large-3 {
	padding-top: 7px;
	margin-left: 0px;
}

.footer-container > .large-6 > .large-9 > .large-12 > h3 {
	font-size: 15px;
	font-family: 'Cabin-Regular';
	letter-spacing: 2px;
	color: #e5e5e4;
	padding-top: 5px;
}

.footer-container > .large-6 > .large-9 > .large-12 > h3 {
	font-size: 11px;
	font-family: 'Cabin-Regular';
	letter-spacing: 2px;
	color: #e5e5e4;
	margin-left: 15px;
}