.columns {
	margin: 0;
	padding: 0;
}

.green {
	background-color: green;
}

.app-navigation-container {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #192938;
}

.iconic_logo {
	margin-top: 0px;
	width: auto;
	min-width: 80px;
	height: 80px;
	float: right;
}

input.search-bar {
	border-radius: 15px;
	font-family: 'Cabin-Regular';
	background-color: #ededed;
	font-size: 14px;
	padding-left: 15px;
	color: #6d6d6d;
	width: 90%;
	margin-left: 30px;
	margin-top: 24px;
}

.log-out-btn {
	text-align: center;
	border: 1px solid #f3f4f4;
	height: auto;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.log-out-btn > h4 {
	margin: 0;
	font-family: 'Cabin-Regular';
	font-size: 14px;
	color: #f3f4f4;
	letter-spacing: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.add-new-btn {
	text-align: center;
	border: 1px solid #f3f4f4;
	height: auto;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 20px;
}

.add-new-btn > h4 {
	margin: 0;
	font-family: 'Cabin-Regular';
	font-size: 14px;
	color: #f3f4f4;
	letter-spacing: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}