body {
	background-color: #e5e5e4;
}

.columns {
	margin: 0;
	padding: 0;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.app-navigation-container {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #192938;
	height: auto;
}

.iconic_logo {
	margin-top: 0px;
	width: auto;
	min-width: 80px;
	height: 80px;
	float: right;
}

input.search-bar {
	border-radius: 15px;
	font-family: 'Cabin-Regular';
	background-color: #ededed;
	font-size: 14px;
	padding-left: 15px;
	color: #6d6d6d;
	width: 90%;
	margin-left: 30px;
	margin-top: 24px;
}

.log-out-btn {
	text-align: center;
	border: 1px solid #f3f4f4;
	height: auto;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.log-out-btn:hover {
	text-align: center;
	border: none;
	height: auto;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	background-color: #10b1d1;
}

.log-out-btn > h4:hover {
	margin: 0;
	font-family: 'Cabin-Regular';
	font-size: 14px;
	color: white;
	letter-spacing: 2px;
	padding-top: 11px;
	padding-bottom: 11px;
}

.log-out-btn > h4 {
	margin: 0;
	font-family: 'Cabin-Regular';
	font-size: 14px;
	color: #f3f4f4;
	letter-spacing: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.add-new-btn {
	text-align: center;
	border: 1px solid #f3f4f4;
	height: auto;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 20px;
}

.add-new-btn > h4 > a:link {
	color: white;
}

.add-new-btn > h4 > a:hover {
	color: white;
}

.add-new-btn > h4 > a:visited {
	color: white;
}

a {
	color: white;
}

.add-new-btn > h4 {
	margin: 0;
	font-family: 'Cabin-Regular';
	font-size: 14px;
	color: #f3f4f4;
	letter-spacing: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.add-new-btn:hover {
	text-align: center;
	border: none;
	height: auto;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	background-color: #10b1d1;
}

.add-new-btn > h4:hover {
	margin: 0;
	font-family: 'Cabin-Regular';
	font-size: 14px;
	color: white;
	letter-spacing: 2px;
	padding-top: 11px;
	padding-bottom: 11px;
}

.under-navigation-images {
	text-align: center;
	height: auto;
	cursor: pointer;
}

.under-navigation-images > h4 {
	font-family: 'Cabin-Bold';
	font-size: 24px;
	color: white;
	letter-spacing: 2px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.under-navigation-images:nth-of-type(1) {
	background-image: url(../img/maindish.png);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	white-space: nowrap;
	overflow: hidden;
}

.under-navigation-images:nth-of-type(2) {
	background-image: url(../img/salad.png);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	white-space: nowrap;
	overflow: hidden;
}

.under-navigation-images:nth-of-type(3) {
	background-image: url(../img/soup.png);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	white-space: nowrap;
	overflow: hidden;
}

.under-navigation-images:nth-of-type(4) {
	background-image: url(../img/pie.png);
  	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	white-space: nowrap;
	overflow: hidden;
}

.bottom-content-containter {
	margin-top: 60px;
}

.bottom-content-containter > .large-10 {
	height: auto;
}

.little-box {
	text-align: center;
	height: auto;
	width: auto;
	margin: 0 auto;
}

.recipe-item-container {
	background-color: #f6f7f7;
	display: inline-block;
	width: 250px;
	height: 300px;
	margin-right: 70px;
	margin-bottom: 50px;
	cursor: pointer;
}

.recipe-item-container:nth-child(4n) {
	background-color: #f6f7f7;
	display: inline-block;
	width:250px;
	height: 300px;
	margin-right: 0px;
	margin-bottom: 50px;
}

.recipe-item-container-inner {
	text-align: center;
	background-color: #FFF;
	height: 255px;
	width: 250px;
	border-bottom: 1px solid #e5e5e4;
}

.recipe-item-image {
	overflow: hidden;
	height: 168px;
	width: 100%;
}

.recipe-item-title-container {
	height: auto;
	
}

.recipe-item-title {
	font-family: 'Roboto-Light';
	color: #222222;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.recipe-item-timer-container {
	margin: 0 auto;
	height: 45px;
	width: 65px;
}

.recipe-item-timer-title {
	font-family: 'Roboto-Light';
	color: #222222;
	font-size: 13px;
	margin-left: 8px;
	margin-top: 13px;
}

.recipe-item-timer-icon {
	margin-left:9px;
	margin-top: 13px;
	height: 16px;
	width: 16px;
}


/* Add New Recipes Styles */

.add-recipe-form-container {
	margin-top: 50px;
}

h4.add-recipe-form-heading {
	color: #323232;
	font-size: 40px;
	font-family: 'Cabin-Regular';
	margin-bottom: 35px;
}

input.add-recipe-input-name {
	height: 45px;
	color: grey;
	margin-bottom: 30px;
}

.add-recipe-input-category {
	height: 45px;
	color: grey;
	margin-bottom: 30px;
}

input.add-recipe-input-estimated-time {
	height: 45px;
	color: grey;
	margin-bottom: 30px;
}

textarea.add-recipe-input-instructions {
	height: 85px;
	color: grey;
	margin-bottom: 30px;
}

input.add-recipe-form-add-image {
	margin-bottom: 30px;
}

::-webkit-input-placeholder {
   color: grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: grey;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: grey;  
}

:-ms-input-placeholder {  
   color: grey;  
}

#image-preview {
	margin-top: 20px;
	margin-bottom: 30px;
}

